<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>edit comment</title>
</head>

<body>
    <h1>EDIT</h1>
    <form method="POST" action="/comments/<%=comment.id%>?_method=PATCH">
        <!-- we cannot directly use patch as it is not availabe as an action , so we use the node package 
        method-overrise which is used to do the operations which are not avaiable on client like delete patch -->
        <textarea name="comment" id="comment" cols="30" rows="10"><%= comment.comment %> </textarea>
        <br>
        <button>save</button>
    </form>
</body>

</html>