<%- include("partials/head") %>

    <%- include("partials/navbar") %>
        <h1><b>Error 404</b></h1>
        <p>
            cannot find <%= subreddit %> subreddit
        </p>
        <%- include("partials/footer") %>