<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>intro</title>
</head>

<body>
    <h1>Home page</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non dolores sit reiciendis debitis ipsa ipsum velit
        magnam illo totam. Quasi eius nulla minima veritatis est ducimus ratione voluptatibus minus aperiam! Lorem ipsum
        dolor sit, amet consectetur adipisicing elit. Quam tenetur pariatur inventore culpa alias obcaecati fugit id
        distinctio nesciunt. Omnis natus optio quisquam esse qui, rem quo perspiciatis rerum nostrum! Lorem ipsum, dolor
        sit amet consectetur adipisicing elit. Dolor dolorem minus eaque suscipit alias obcaecati rerum, fugiat, aliquid
        inventore non, magni excepturi modi corporis officia harum perspiciatis voluptate tempore minima?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non dolores sit reiciendis debitis ipsa ipsum velit
        magnam illo totam. Quasi eius nulla minima veritatis est ducimus ratione voluptatibus minus aperiam! Lorem ipsum
        dolor sit, amet consectetur adipisicing elit. Quam tenetur pariatur inventore culpa alias obcaecati fugit id
        distinctio nesciunt. Omnis natus optio quisquam esse qui, rem quo perspiciatis rerum nostrum! Lorem ipsum, dolor
        sit amet consectetur adipisicing elit. Dolor dolorem minus eaque suscipit alias obcaecati rerum, fugiat, aliquid
        inventore non, magni excepturi modi corporis officia harum perspiciatis voluptate tempore minima?</p>

</body>

</html>