<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Error 404</title>
</head>

<body>
    <h1><b>Error 404</b></h1>
    <p>
        cannot find <%= subreddit %> subreddit
    </p>

</body>

</html>